<h1>Stupid Coaching!</h1>

<p>Ask your coach anything below:</p>

<form action="/answer" data-turbo="false">
  <input type="text" name="question" placeholder="hello there">
  <input type="submit" value="Ask!">
</form>
